
.root {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(167, 167, 167);
}

.checkbox {
  display: inline-block;
  width: auto;
  cursor: pointer;
  padding: 4px;
  margin-right: 8px;
}